  /* import font libraries*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans+Narrow:wght@700&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

/*navigation styling start*/
.top-nav {
    overflow: hidden;
    background-color: gray;
    position: fixed;
    width: 100%;
}

.top-nav a {
    text-decoration: none;
    color: white;
    float: left;
    padding: 25px 25px;
    font-family: 'Questrial', sans-serif;
    font-size: x-large;
}

.right-nav {
    float: right;
    margin-right: 5%;
}

.left-nav {
    margin-left: 5%;
}
/*navigation styling end*/

/*section content styling starts*/

/*section container*/
#Home, #About, #Contact {
    height: 100vh;
    width: 100%;
}

#About {
    background-color: cyan;
}
#Contact {
    background-color: indigo;
}

.contact-content {
    position: relative;
    top: 45vh;
    left: 25vh;
}

.about-content {
    position: relative;
    top: 30vh;
    left: 25vh;
}
/*section content styling end*/

/*content font styling*/
.headline {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    font-size: 80px; 
}
.subline-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;

}
.subline-2 {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    letter-spacing: 1vh;
}

.content {
    width: 100%;
    height: 100vh;
    background: #232323;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}