/* import font libraries*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

/*navigation styling*/
.top-nav {
    overflow: hidden;
    background-color: gray;
}

.top-nav a {
    text-decoration: none;
    color: white;
    float: left;
    padding: 25px 25px;
}

.right-nav {
    float: right;
    margin-right: 5%;
}

.left-nav {
    margin-left: 5%;
}

#Home, #About, #Contact {
    height: 100vh;
    width: 100%;
}

#Home {
    background-color: indianred;
}
#About {
    background-color: cyan;
}
#Contact {
    background-color: indigo;
}